body {background: #ffffff;}
a {color: #5f4330;}
a:visited {color: #5f4330;}
div.lpxcenterpageinner { position: relative; margin: 0 auto; text-align: left; width: 980px; }

.musiclist dd { margin: 1px 0 2px 35px }
